<!DOCTYPE html>

<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
{{> gtmHead }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes">
<!-- <?php //require_once( get_template_directory() . '/template-parts/module-page-checks-settings.php'); ?> -->
<link rel="icon" type="image/png" href="/imgs/site/favicon-zimmysigns.png" />
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<link rel="canonical" href="{{canonical}}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="ASL Books, Games, Printables | Zimmy Signs" />
<meta property="og:url" content="{{canonical}}" />
<meta property="og:site_name" content="Zimmy Signs" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="ASL Books, Games, Printables | Zimmy Signs" />
<link rel="stylesheet" href="/css/main.css?version={{versionCSS}}" type="text/css" media="all" />
</head>
<body class="{{bodyClass}}">
{{> gtmBody }}
<input type="hidden" class="template-directory-uri-value" data-template-directory-uri="<?php echo SITE_URL; ?>" />
{{> headerNav }}
<div class="site-wrapper">
<div class="site-content-border">
<div class="site-content">
